<h2> Place Your New Idea Here</h2>

<form action="/create_idea">
  <input type="text" name="name" placeholder = 'name'>
  <input type="text" name="idea" placeholder = "idea">
  <input type="submit">

  
</form>