<form action="/update_idea/<%= @fig.id %>">
  <input type="text" name="name" placeholder = 'name' value='<%= @ibook.name %>'>
  <input type="text" name="idea" placeholder = "idea" value= "<%= @ibook.idea %>">
  <input type="submit">

  
</form>